<div class="profile">
    <h2><%= @fighter.name %></h2>
    <div class="div_break"></div>
    <div class="inner_profile">
        <% if @fighter.image.present? %>
            <%= image_tag @fighter.image, :class => "feature", :alt => @fighter.name %>
        <% else %>
            <%= @fighter.name %> would like an image, add one by clicking "Edit Fighter" below!
        <% end %>
        <ul>
            <li><strong>Franchise: </strong><%= @fighter.franchise %></li>
            <li><strong>Stock:</strong><br>
                <% if @fighter.stock_symbol.present? %>
                    <%= image_tag(@fighter.stock_symbol, :class => "profile_stock") %>   
                <% else %>
                    <p>Add a stock image for <%= @fighter.name %> by clicking "Edit Fighter" below</p>
                <% end %>
            </li>
            <li><strong>Availability: </strong><%= @fighter.availability %></li>
            <li>
                <strong>Games:</strong><br>
                <% if @fighter.games.present? %>
                    <% @fighter.games.each do |game| %>
                        <%= link_to image_tag(game.image, :class => "profile_thumb"), game if game.image.present? %>
                    <% end %>
                <% else %>
                    <p>Give <%= @fighter.name %> a home to belong to by clicking "Edit Fighter" below</p>
                <% end %>
            </li>
            <li><strong>Special Moves:</strong><br>
                <% if @fighter.specials.any? %>
                    <ol>
                    <% @fighter.specials.each do |special| %>
                        <li>
                            <%= link_to special.name, special if special.name.present? %>
                        </li>
                    <% end %>
                    </ol>
                <% else %>
                <p>There are currently so special moves associated with this fighter. Add and associate one by clicking <%= link_to "here", new_special_path, :class => "link_suggestion" %>.</p>
                <% end %>
            </li>
            <li><strong>Final Smash:</strong><br>
                <%= image_tag @fighter.final_smash, :class => "profile_smash" if @fighter.final_smash.present? %>
            </li>
        </ul>
    </div>
    <div class="div_break"></div>
    <strong>Article added on:</strong> <%= @fighter.entry_created.strftime("%A, %Y/%m/%d %l:%M %p %Z") %>
</div>
<div class="controls">
    <% if @current_user.present? %>
        <%= button_to "Edit Fighter", edit_fighter_path(@fighter), :method => "get", :class => "btn_hover" %>
    <% end %>
    <% if @current_user.present? && @current_user.administrator %>
        <%= button_to "Delete #{@fighter.name}", @fighter , :method => "delete", :data => { :confirm => "Are you sure?"}, :class => "btn_hover" %>
    <% end %>
</div>
<div class="div_break"></div>
<div class="dicussion">
    <% if @current_user.present? %>
        <%= form_for(Post.new, :html => {:multipart => true}) do |f| %>
            <%= f.hidden_field :fighter_id, :value => @fighter.id %>
            <%= f.hidden_field :user_id, :value => @current_user.id %>
            <%= f.hidden_field :article_type, :value => "fighter" %>
            <%= f.label "Join the discussion:" %>
            <%= f.text_area :content, :placeholder => 'Compose your comment here...', :class => 'input_comment', :cols => 80, :rows => 5, :required => true %>
            <br>
            <%= f.label "Attach an image to your post:" %>
            <%= f.url_field :image, :placeholder => "Provide a link to your image..."  %>

            <%= f.submit "Submit post!" %>

        <% end %>
    <% else %>
        <h2>Login to make a post!</h2>
    <% end %>
    <div class="div_break"></div>
    <h3>All posts for <%= @fighter.name%>:</h3>
    <div class="posts_section">
        <% @posts.each do |post| %>
        <% next unless post.present? %>
        <div class="user_post">
            <div class="post_image_section">
                <%= post.user.profile_image.present? ? image_tag(post.user.profile_image, :class => "post_user_image") : image_tag("/assets/no_image.png", :class => "post_user_image")%>
            </div>
            <div class="post_content_section">
                <p><%= link_to((post.user.nickname.present? ? post.user.nickname : post.user.email), post.user)  %><p>
                <p><%= post.content %></p>
                <%= image_tag post.image if post.image.present? %>
                <div class="div_break"></div>
                <p>Liked by: <%= post.likes.count %> user(s)</p>
                <p><em>Posted on: <%= post.date_posted.strftime("%A, %Y/%m/%d %l:%M %p") %></em></p>
                <% if @current_user.present? %>
                    <% if @current_user.likes.any? { |like| like.post.id == post.id } %>
                        <%= button_to "Unlike", post_like_path(post), :method => "delete", :class => "btn_hover" %>
                    <% else %>
                        <%= button_to "Like", post_likes_path(post), :method => "post", :class => "btn_hover" %>
                    <% end %>
                    <%= button_to "Edit", edit_post_path(post), :method => "get", :class => "btn_hover" if post.user.id == @current_user.id %>
                    <%= button_to "Delete", post, :method => "delete", :data => { :confirm => "Are you sure you want to delete this post?"}, :class => "btn_hover" if post.user.id == @current_user.id %>
                <% end %>
            </div>
        </div>
        <% end %>
    </div>
</div>
