<div class="user_profile">
    <div class="user_details">
        <% if @user.nickname.present? %>
            <h2><%= @user.nickname %>'s profile </h2>
        <% else %>
            <h2>Your profile</h2>
        <% end %>

        <h3>Current avatar:</h3>
        <% if @user.profile_image.present? %>
            <%= image_tag @user.profile_image, :alt => "#{@user.nickname}'s profile image", :class => "profile_image" %>
        <% else %>
            <%= image_tag "/assets/no_image", :alt => "no profile image provided", :class => "profile_image" %>
        <% end %>
        <ul>
            <li><strong>Current nickname:</strong><p><%= @user.nickname.present? ? @user.nickname : "Not set" %></p></li>
            <li><strong>Current e-mail:</strong><p><%= @user.email %></p></li>
        </ul>

        <% if @current_user.present? %>
            <%= button_to "Edit my profile", edit_user_path(@user), :method => "get", :class => "btn_hover" if @user.id == @current_user.id %>
        <% end %>

        <% if flash[:notice].present? %>
            <h2><%= flash[:notice] %></h2>
        <% end %>
    </div>
    <div class="about_posts">
        <div class="post_details">
            <% if @user.nickname.present? %>
                <h2><%= @user.nickname %>'s posts:</h2>
            <% else %>
                <h2>Your posts:</h2>
            <% end %>
            <em><%= "You have no posts!" unless @user.posts.present? %></em>
            <% @user.posts.sort.each do |post| %>
                <div class="post_content_section">
                    <p>Posted in:
                        <span class="link_suggestion">
                            <% case post.article_type %>
                            <% when "fighter" %>
                                <%= link_to post.fighter.name, post.fighter %>
                            <% when "special" %>
                                <%= link_to post.special.name, post.special %>
                            <% when "game" %>
                                <%= link_to post.game.name, post.game %>
                            <% end %> 
                        </span>
                    </p>
                    <p><%= post.content %></p>
                    <%= image_tag post.image if post.image.present? %>
                    <p><em>Posted on: <%= post.date_posted.strftime("%A, %Y/%m/%d %l:%M %p") %></em></p>
                </div>
            <% end %>
        </div>
        <div class="post_details">
            <% if @user.nickname.present? %>
                <h2><%= @user.nickname %>'s liked posts:</h2>
            <% else %>
                <h2>Your liked posts:</h2>
            <% end %>
            <% if @user.likes.present? %>
                <% @user.likes.sort.each do |like| %>
                    <div class="post_content_section">
                        <p>Posted in:
                            <span class="link_suggestion">
                                <% case like.post.article_type %>
                                <% when "fighter" %>
                                    <%= link_to like.post.fighter.name, like.post.fighter %>
                                <% when "special" %>
                                    <%= link_to like.post.special.name, like.post.special %>
                                <% when "game" %>
                                    <%= link_to like.post.game.name, like.post.game %>
                                <% end %> 
                            </span>
                        </p>
                        <p><%= like.post.content %></p>
                        <%= image_tag like.post.image if like.post.image.present? %>
                        <p><em>Liked on: <%= like.liked_on.strftime("%A, %Y/%m/%d %l:%M %p") if like.liked_on.present? %></em></p>
                    </div>
                <% end %>
            <% else %>
                <em>You have no liked posts!</em>
            <% end %>
        </div>
    </div>
</div>



