<h2>Welcome to the Smash wiki!</h2>
<%= form_tag pages_search_path, :method => "get", :class => "search_field" do %>
    <%= label_tag :search, "Enter a search word:" %>
    <%= text_field_tag :search %>
    <%= label_tag :category, "Search Category:" %>
    <%= select "searches", "category", options_for_select([["Fighters", "fighters"], ["Special Moves", "specials"],["Games", "games"]]) %>
    <br>
    <%= submit_tag "Search" %>
<% end %>

<% if flash[:error].present? %>
    <h2><%= flash[:error] %></h2>
<% end %>
<div class="div_break"></div>
<h3>Check out the latest entries to the site:</h3>
<div class="latest_additions">
    <div class="latest_container">
        <div class="latest_title">Fighter's news:
            <div class="div_break"></div>
        </div>
        <% if @latest_fighter.stock_symbol.present? %>
            <%= link_to image_tag(@latest_fighter.stock_symbol, :alt => @latest_fighter.name, :class => "homepage_preview"), @latest_fighter %>
        <% else %>
            <p><%= @latest_fighter.name %> doesn't have a stock image, add one by clicking <%= link_to "here", edit_fighter_path(@latest_fighter) , :class => "link_suggestion" %>!</p>
            <p><strong>OR</strong></p>
            <p>Click <%= link_to "here", @latest_fighter, :class => "link_suggestion" %> to view details for <%= @latest_fighter.name %> directly.</p>
        <% end %>
        <div class="div_break"></div>
        <p><span class="latest_label"><%= @latest_fighter.name %></span> joins the fray!</p>
    </div>
    <div class="latest_container">
        <div class="latest_title">Skill acquired!
        <div class="div_break"></div>
        </div>
        <% if @latest_special.preview.present? %>
            <%= link_to image_tag(@latest_special.preview, :alt => @latest_special.name, :class => "homepage_preview"), @latest_special %>
        <% else %>
            <p><%= @latest_special.name %> doesn't have a preview image, add one by clicking <%= link_to "here", edit_special_path(@latest_special) , :class => "link_suggestion" %>!</p>
            <p><strong>OR</strong></p>
            <p>Click <%= link_to "here", @latest_special, :class => "link_suggestion" %> to view details for <%= @latest_special.name %> directly.</p>
        <% end %>
        <div class="div_break"></div>
        <p><span class="latest_label"><%= @latest_special.name %></span> is ready to rock and roll!</p>
    </div>
</div>