<!DOCTYPE html>
<html>
  <head>
    <title>SmashOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css" %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <hr>
      <nav>
        |
        <%= link_to "Home", root_path %>
        | 
        <%= link_to "Fighters", fighters_path %>
        |
        <%= link_to "Add a Fighter", new_fighter_path %>
        |
        <%= link_to "Special Moves", specials_path %>
        |
        <%= link_to "Add a Special Move", new_special_path %>
        |
        <%= link_to "View the Games", games_path %>
        |
      </nav>
    <hr>
    <%= yield %>
  </body>
</html>
